################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MunicipalityFinder/v17
/MapMunicipalities/.vs/MapMunicipalities
